body{
    font-family: CopperPot,Helvetica,sans-serif;
    display: block;
    font-size: 1.75rem;
    line-height: 2rem;
    text-underline-offset: 0.4375rem;
    font-weight: 300;
}

h1,h2{
    color: magenta;
    display: inline;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 4.125rem;
}

a{
    cursor: pointer;
    color: magenta;
}